<section class="reset-password-section">
  <div class="background-images">
    <div class="container">
      <h1 class="reset-password-section__title">Reset password</h1>
      <p class="reset-password-section__desc">Enter a New Password.</p>
      <form class="reset-password-section__form"
          [formGroup]="resetPasswordForm"
          (ngSubmit)="resetPassword()">
        <div class="password-component">
          <div class="tooltip">
            <img src="../../../../../assets/auth-module/icons/info.svg" alt="" />
            <p class="message">Must have at least 8 characters</p>
          </div>

          <div class="password-input-field">
            <input
              class="password-input"
              id="password"
              [type]="passwordType ? 'text' : 'password'"
              formControlName="password"
              (focus)="passwordShowMessage = true"
              (blur)="passwordShowMessage = false"
              [ngClass]="{
                'input-touched': password?.dirty || password?.touched,
                invalid:
                  password?.invalid && (password?.dirty || password?.touched)
              }"
            />
            <label
              class="floating-label"
              for="password"
              [ngClass]="{
                'label-touched': password?.dirty || password?.touched,
                invalid:
                  password?.invalid && (password?.dirty || password?.touched)
              }"
              >Password</label
            >

            <div
              class="invalid-message"
              *ngIf="passwordShowMessage && password?.dirty"
            >
              <ng-container
                *ngIf="
                  resetPasswordForm.get('password')?.hasError('required');
                  else elseif1
                "
              >
                <p>Password is required.</p>
              </ng-container>
              <ng-template #elseif1>
                <ng-container
                  *ngIf="
                    resetPasswordForm.get('password')?.hasError('minlength');
                    else elseif2
                  "
                >
                  <p>Password must be at least 8 chars.</p>
                </ng-container>
              </ng-template>
              <ng-template #elseif2>
                <ng-container
                  *ngIf="resetPasswordForm.get('password')?.hasError('maxlength')"
                >
                  <p>Password can't be more than 64 char.</p>
                </ng-container>
              </ng-template>
            </div>
          </div>

          <span class="seen" (click)="togglePasswordType()">
            <img [src]="passwordIconPath" alt="" />
          </span>
        </div>

        <div class="password-component">
          <div class="tooltip">
            <img src="../../../../../assets/auth-module/icons/info.svg" alt="" />
            <p class="message">Must have at least 8 characters</p>
          </div>

          <div class="password-input-field">
            <input
              class="password-input"
              id="confirm-password"
              [type]="confirmPasswordType ? 'text' : 'password'"
              formControlName="confirmPassword"
              (focus)="confirmPasswordShowMessage = true"
              (blur)="confirmPasswordShowMessage = false"
              [ngClass]="{
                'input-touched':
                  confirmPassword?.dirty || confirmPassword?.touched,
                invalid:
                  resetPasswordForm.hasError('matchPasswords') &&
                  (confirmPassword?.dirty || confirmPassword?.touched)
              }"
            />

            <label
              class="floating-label"
              for="confirm-password"
              [ngClass]="{
                'label-touched':
                  confirmPassword?.dirty || confirmPassword?.touched,
                invalid:
                  resetPasswordForm.hasError('matchPasswords') &&
                  (confirmPassword?.dirty || confirmPassword?.touched)
              }"
              >Confirm Password</label
            >

            <div
              class="invalid-message"
              *ngIf="
                resetPasswordForm.hasError('matchPasswords') &&
                (confirmPassword?.dirty || confirmPassword?.touched) &&
                confirmPasswordShowMessage
              "
            >
              <p>Password doesn't match.</p>
            </div>
          </div>

          <span class="seen" (click)="toggleConfirmPasswordType()">
            <img [src]="confirmpasswordIconPath" alt="" />
          </span>
        </div>
        <button type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
      </form>
    </div>
    <div class="illustration">
      <img src="../../../../../assets/auth-module/images/Lock.svg" alt="" />
    </div>
  </div>
</section>
