<section class="home-page">
  <app-loading-spinner [show]="showSpinner" [overlay]="'component'"></app-loading-spinner>

  <ng-container *ngIf="posts.length === 0 && !showSpinner">
    <div class="newsfeed-empty">
      <p>
        Newsfeed is empty! Follow people or cities to see their future posts
        here.
      </p>
      <img src="../../../../../assets/main-module/Following-pana.svg" alt="" />
    </div>
  </ng-container>
  
  <ng-container *ngFor="let post of posts; let i = index">
    <app-post
      appIncreasePostViews
      [postId]="post.postData.postId"
      #lastElement
      *ngIf="i === posts.length - 6; else allPosts"
      [postData]="post.postData"
    ></app-post>
    <ng-template #allPosts>
      <app-post
        appIncreasePostViews
        [postId]="post.postData.postId"
        [postData]="post.postData"
      ></app-post>
    </ng-template>
  </ng-container>
</section>
