<div style="padding: 1em 0">
  <!-- <app-post [postId]="'625da3ed8d4f7fbf4e8532ac'"></app-post> -->
  <!-- <app-post [postId]="'625ab3a8de05094128af8e43'"></app-post> -->
  <!-- <app-post [postId]="'625abe96de05094128af8fbf'"></app-post> -->
  <!-- <app-post [postId]="'625abe86de05094128af8fb9'"></app-post> -->
  <!-- <app-post [postId]="'625ac018de05094128af9065'"></app-post> -->
  <!-- <app-post [postId]="'625b6b0e3de8dae6b978c089'"></app-post> -->
  <!-- <app-post [postId]="'62486f7b46f41c724dc7ca6c'"></app-post> -->
  <!-- <app-post [postId]="'6249c2cb15a93fb947d414dd'"></app-post> -->
  <!-- <app-post [postId]="'625c9be42c42615425615ab1'"></app-post> -->
  <!-- <app-post [postId]="'625aba89de05094128af8f2b'"></app-post> -->
  <!-- <app-post [postId]="'6249c3893510fb0cd71d2e5d'"></app-post> -->

  <div class="video">
    <video controls>
      <source
        src="../../../../../assets/main-module/post-images/silent video no sound nature-MMpRlEiR6IM.mkv"
        type="video/mp4"
      />
      No video support.
    </video>
    <a class="post-link" target="_blank" href="https://www.google.com">See Post</a>
  </div>
</div>
