// primary colors
$primary: #6E75A0;

// secondary colors
$secondary: '';

// neutral colors
$neutral-lighter: #FFF;
$neutral-light: #E8DEEB;

// gradient colors
$gradient-lighter: $neutral-light;
$gradient-light: #e3cce9;
$gradient-dark: #E3CCE9B5;
$gradient-darker: #6E75A06E;

