$base-line-height: 1.2;
$base-padding: 1em;
$base-margin: 1.5em;

$base-font-size: 1.2rem;

$index-1: 10;
$index-2: 20;
$index-3: 30;
$index-4: 40;
$index-5: 50;
$index-6: 60;
$index-7: 70;
$index-8: 80;
$index-9: 90;
$index-10: 100;

$breakpoints: (
  "small": (max-width: 500px),
  "less-than-medium": (max-width: 800px),
  "medium": (min-width: 800px),
  "large": (min-width: 1200px),
  "huge": (min-width: 1500px),
);
