@use "~../../../../../../styles/helpers/colors" as *;
@use "~../../../../../../styles/helpers/mixins" as *;

.overlay {
  @include flex;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  transform: scale(0);
  opacity: 0;
  @include animation;

  &.show {
    opacity: 1;
    transform: scale(1);

    @include respond-to(medium) {
      transform: scale(1.2);
    }
  }

  @include respond-to(medium) {
    width: auto;
    height: auto;
    right: 10vw;
    bottom: 10vh;
  }

  // &::before {
  //   content: "";
  //   $width: max(150vw, 150vh);
  //   width: $width;
  //   height: $width;
  //   position: fixed;
  //   z-index: -500;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);

  //   border-radius: 500%;
  //   background-color: rgba($secondary, 0.5);
  // }

  .message-box {
    width: 80%;
    max-width: 400px;
    display: flex;

    background-color: $secondary;
    box-shadow: 3px 2px 6px $primary, 0 -0.05px 6px $primary;
    border-radius: 10px;

    .status {
      width: 25px;
      height: 25px;
      aspect-ratio: 1;
      margin: 1em;
      justify-self: flex-start;

      img {
        width: 100%;
      }
    }

    .message {
      color: $primary;
      font-weight: 500;
      font-size: large;
      align-self: center;
    }

    button.close {
      width: 35px;
      height: 35px;
      aspect-ratio: 1;
      margin: 0.5em;
      margin-left: auto;

      border-radius: 50px;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      @include animation;

      &:focus,
      &:hover {
        background-color: rgba(white, 0.5);
      }

      img {
        width: 100%;
      }
    }
  }
}
