@use "../helpers/helpers-dir" as *;
@use "../base/base-dir" as *;

.forget-password-section__form,
.login-manual-section__form,
.sign-up-manual-section__form {
  /* input and select styles */
  input {
    display: block;

    // width: 29rem;
    width: 100%;
    height: 3.313rem;
    padding: 0.6em;

    box-shadow: 0 0.18rem 0.37rem 0 $primary;
    border: solid 0.2em $primary;
    border-radius: 0.75rem;

    font-family: $font-family;
    color: $primary;
    font-size: 1.2rem;
    font-weight: bold;

    /* for icons */
    background-position-y: center;
    background-position-x: 0.8em;
    background-repeat: no-repeat;
    background-size: 1.4rem;

    @include animation;

    &:focus {
      outline: none;
      background-image: none !important;
      padding-left: 1em;
    }

    &:focus + .floating-label {
      top: -1.5em;
      left: 0;
      // border: solid 0.2em $primary;
      // border-radius: 0.75rem;
    }

    &.input-touched {
      // background-color: transparent;
      background-image: none !important;
      padding-left: 1em !important;
    }
  }

  /* all input labels */
  [class$="-input-field"] {
    position: relative;

    .floating-label {
      position: absolute;
      top: 1em;
      left: 2.5em;
      padding: 0.2em 0.7em;

      // background-color: $neutral-lighter;
      color: $primary;
      // font-size: 0.9rem;

      pointer-events: none;

      @include animation;



      &.label-touched {
        top: -1.5em !important;
        left: 0 !important;
      }
    }
  }

  .email-input {
    background-image: url("../../assets/icons/email.svg");
  }

  /* submit buttons (login, sign up, forget password) styles */
  button[type="submit"] {
    display: block;

    width: 15rem;
    margin: 0 auto 2.6rem;
    padding: 0.6em;

    background-color: $primary;
    color: $neutral-lighter;
    font-family: $font-family;
    font-size: 1.5rem;
    font-weight: bold;

    border-radius: 0.75rem;
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: 60%;
    }
  }
}

// .floating-label {
//   position: relative;
//   // background-color: aqua;
//   z-index: 10;
//   // color: red;
//   div {
//     z-index: -1;
//     display: inline-block;
//     position: absolute;
//     width: 10em;
//     height: 0.2em;
//     left: -0.25em;
//     top: 45%;
//     background-color: $neutral-lighter;
//   }

// }

/* form validation */
