@use "~../../../../../../../styles/helpers/helpers-dir" as *;

.post-page {
  position: relative;
  min-height: 100vh;
  margin: 0;
  border-radius: 2rem;
  background-color: transparent;
  overflow: hidden;
  
  @include respond-to(medium) {
    padding: 1em 0.5em;
    box-shadow: 0px 3px 6px #666666;
    background-color: $secondary;
    padding: 2em;
    @include main-gradient;
  }

  .back-btn {
    background-color: transparent;
    padding: 0;
    width: 2.5rem;
    
    @include respond-to(medium) {
      position: absolute;
      width: 3rem;
    }

    img {
      width: 100%;
    }
  }
}
