<section class="forget-password-section">
  <h1 class="forget-password-section__title"></h1>
  <p class="forget-password-section__desc"></p>
  <form
    class="sign-up-manual-section__form"
    [formGroup]="forgetPassForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="email-input-field">
      <input
        class="email-input"
        id="username"
        type="text"
        formControlName="userName"
        [ngClass]="{
          'input-touched': userName?.dirty || userName?.touched
        }"
      />
      <label
        class="floating-label"
        for="username"
        [ngClass]="{
          'label-touched': userName?.dirty || userName?.touched
        }"
        >Username or Email</label
      >
    </div>

    <button type="submit" [disabled]="!forgetPassForm.valid">Send</button>
  </form>
</section>
