<section class="forget-password-section">
  <div class="background-images">
    <div class="container">
      <h1 class="forget-password-section__title">Forget your password</h1>
      <p class="forget-password-section__desc">
        Enter your username or the email address associated with your account
        and we will send a link to reset your password.
      </p>
      <form
        class="forget-password-section__form"
        [formGroup]="forgetPassForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="email-input-field">
          <input
            class="email-input"
            id="username"
            type="text"
            formControlName="userName"
            [ngClass]="{
              'input-touched': userName?.dirty || userName?.touched
            }"
          />
          <label
            class="floating-label"
            for="username"
            [ngClass]="{
              'label-touched': userName?.dirty || userName?.touched
            }"
            >Username or Email
            <div></div
          ></label>
        </div>

        <button type="submit" routerLink="/reset-password">Send</button>
        <!-- <button type="submit" [disabled]="!forgetPassForm.valid">Send</button> -->
      </form>
    </div>
    <div class="illustration">
      <img src="../../../assets/images/Lock.svg" alt="">
    </div>
  </div>
</section>
