<section class="forget-password-section">
  <div class="background-images">
    <div class="container">
      <h1 class="forget-password-section__title">Forget your password</h1>
      <p class="forget-password-section__desc">
        Enter your username or the email address associated with your account
        and we will send a link to reset your password.
      </p>
      <form
        class="forget-password-section__form"
        [formGroup]="forgetPassForm"
        (ngSubmit)="send()"
      >
        <div class="email-input-field">
          <input
            class="email-input"
            id="username"
            type="text"
            formControlName="emailOrUserName"
            (focus)="unShowMessage = true"
            (blur)="unShowMessage = false"
            [ngClass]="{
              'input-touched': emailOrUserName?.dirty || emailOrUserName?.touched,
              invalid:
                emailOrUserName?.invalid && (emailOrUserName?.dirty || emailOrUserName?.touched)
            }"
          />
          <label
            class="floating-label"
            for="username"
            [ngClass]="{
              'label-touched': emailOrUserName?.dirty || emailOrUserName?.touched,
              invalid:
                emailOrUserName?.invalid && (emailOrUserName?.dirty || emailOrUserName?.touched)
            }"
            >Username or Email</label
          >
          <div
            class="invalid-message"
            *ngIf="
              emailOrUserName?.invalid &&
              (emailOrUserName?.dirty || emailOrUserName?.touched) &&
              unShowMessage
            "
          >
            <p>Invalid username or email.</p>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!forgetPassForm.valid"
        >
          Send
        </button>
      </form>
    </div>
    <div class="illustration">
      <img src="../../../assets/images/Lock.svg" alt="" />
    </div>
  </div>
</section>
