<nav class="city-navbar" id="city-navbar">
  <ul>
    <li>
      <a
        class="posts-link"
        routerLink="./posts"
        routerLinkActive="active-link"
        #postsLink
        (click)="possitionIndicator(postsLink)"
        >Posts</a
      >
    </li>
    <li>
      <a
        class="images-link"
        routerLink="./images"
        routerLinkActive="active-link"
        #imagesLink
        (click)="possitionIndicator(imagesLink)"
        >Images</a
      >
    </li>
    <li>
      <a
        class="attractions-link"
        routerLink="./attractions"
        routerLinkActive="active-link"
        #attractionsLink
        (click)="possitionIndicator(attractionsLink)"
        >Activities</a
      >
    </li>
    <li>
      <a
        class="hotels-link"
        routerLink="./hotels"
        routerLinkActive="active-link"
        #hotelsLink
        (click)="possitionIndicator(hotelsLink)"
        >Hotels</a
      >
    </li>
  </ul>

  <div id="city-indicator-wrapper">
    <span id="city-active-link-indicator"></span>
  </div>
</nav>

