@use "~../../../../../styles/pages/forget-reset-password";
@use "~../../../../../styles/helpers/helpers-dir" as *;

img {
  margin: auto;
  padding: 1em;
}

.resend-password-section__desc {
  font-size: 1.2rem;
  line-height: $base-line-height;
  @include padding(x, 0.5em);

  @include respond-to(medium) {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: $base-line-height;
    @include padding(x);
  }

  a {
    color: $primary;
    font-size: 1.5rem;
    font-weight: 700;

    @include respond-to(medium) {
      font-size: 1.7rem;
    }
  }
}
