@use "~../../../../../../../styles/helpers/helpers-dir" as *;

.slider-wrapper {
  overflow: hidden;
}

.slider-controlers {
  position: relative;

  $controlers-size: 72px; ///

  .prev-btn,
  .next-btn {
    padding: 0;
    position: absolute;
    z-index: $index-5;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    width: $controlers-size;
    height: $controlers-size;

    svg {
      width: inherit;
      height: inherit;
      color: transparent;

      @include animation;
      &:hover {
        color: $primary;
      }
    }
  }

  .prev-btn {
    left: 0;
  }

  .next-btn {
    right: 0;
  }

  .slider {
    @include animation;

    &__post-media {
      height: 300px;
      display: inline-block;
      margin: 0 $controlers-size;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
