<section class="attractions-section">
  <app-loading-spinner
    [show]="loading"
    overlay="component"
  ></app-loading-spinner>
  <div class="cards-container">
    <div class="card" *ngFor="let activity of activities">
      <div class="image">
        <img [src]="activity.picture" alt="" />
      </div>
      <div class="content">
        <div>
          <p class="name">{{ activity.name }}</p>
          <p class="description">{{ activity.shortDescription }}</p>
        </div>

        <div class="row">
          <div>
            <div class="rate">
              <svg [ngClass]="{ filled: activity.rating >= 1 }">
                <use href="#star-icon"></use>
              </svg>
              <svg [ngClass]="{ filled: activity.rating >= 2 }">
                <use href="#star-icon"></use>
              </svg>
              <svg [ngClass]="{ filled: activity.rating >= 3 }">
                <use href="#star-icon"></use>
              </svg>
              <svg [ngClass]="{ filled: activity.rating >= 4 }">
                <use href="#star-icon"></use>
              </svg>
              <svg [ngClass]="{ filled: activity.rating >= 5 }">
                <use href="#star-icon"></use>
              </svg>
            </div>

            <a
              class="location-link"
              target="_blank"
              [href]="
                'https://www.google.com/maps/search/?api=1&query=' +
                activity.geoCode.latitude +
                ',' +
                activity.geoCode.longitude
              "
            >
              <span>
                <img
                  src="../../../../../../../assets/main-module/city/location.svg"
                  alt=""
                />
              </span>
              <span>Location</span>
            </a>
          </div>

          <div class="price-and-booking">
            <p class="price">{{ activity.price | currency }}</p>
            <a
              [href]="activity.bookingLink"
              target="_blank"
              class="book-now-link"
              >Book Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol
    id="star-icon"
    enable-background="new 0 0 24 24"
    height="24px"
    viewBox="0 0 24 24"
    width="24px"
  >
    <g>
      <rect fill="none" height="24" width="24" x="0" />
      <polygon
        fill="currentColor"
        stroke="#F8B400"
        stroke-width="1.2"
        points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"
      />
    </g>
  </symbol>
</svg>
