<app-error-message [show]="editInfoShowToast" [status]="infoSuccess" [message]="infoMessage"></app-error-message>
<app-error-message [show]="editPasswordShowToast" [status]="passwordSuccess" [message]="passwordMessage"></app-error-message>

<div class="edit-info-container" *ngIf="show">
  <button (click)="closeEditInfo()" class="back-btn">
    <img
      src="../../../../../../../assets/main-module/profile/back.svg"
      alt=""
    />
  </button>
  <h2>Edit your profile</h2>
  <form class="form" [formGroup]="editInfoForm">
    <div class="name-field">
      <div class="input-field">
        <label for="fn">First Name</label>
        <div>
          <input
            (change)="editInfo('firstName', fnInput.value)"
            id="fn"
            type="text"
            formControlName="firstName"
            #fnInput
          />
        </div>
      </div>
      <div class="input-field">
        <label for="ln">Last Name</label>
        <div>
          <input
            id="ln"
            type="text"
            formControlName="lastName"
            #lnInput
            (change)="editInfo('lastName', lnInput.value)"
          />
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="from">From</label>
      <div>
        <div class="input-field__input">
          <select
            id="from"
            #countryInput
            formControlName="country"
            (change)="editInfo('country', countryInput.value)"
          >
            <option
              *ngFor="let country of countries"
              [selected]="country === myInfo.country"
            >
              {{ country }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="lives">Lives In</label>
      <div>
        <div class="input-field__input">
          <select
            id="lives"
            #livesinInput
            formControlName="liveIn"
            (change)="editInfo('liveIn', livesinInput.value)"
          >
            <option value=""></option>
            <option
              *ngFor="let country of countries"
              [selected]="country === myInfo.liveIn"
            >
              {{ country }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="gender">Gender</label>
      <div>
        <div class="input-field__input">
          <select
            id="gender"
            #genderInput
            formControlName="gender"
            (change)="editInfo('gender', genderInput.value)"
          >
            <option value="Male" [selected]="myInfo.gender === 'male'">
              Male
            </option>
            <option value="Female" [selected]="myInfo.gender === 'female'">
              Female
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="dob">Date of Birth</label>
      <div>
        <div class="input-field__input">
          <input
            id="dob"
            type="date"
            formControlName="dateOfBirth"
            #dobInput
            (change)="editInfo('dateOfBirth', dobInput.value)"
          />
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <div>
        <div class="input-field__input">
          <input id="password" type="password" #passwordInput (change)="editPassword(passwordInput.value)" />
          <button
            class="seen-password-btn"
            (click)="toggleSeenPassword(passwordInput)"
          >
            <img [src]="seenPasswordImage.value" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="facebook">Facebook</label>
      <div>
        <div class="input-field__input">
          <input
            id="facebook"
            type="text"
            placeholder="Enter your Facebook username"
            formControlName="facebook"
            (change)="editLink('facebook', facebookInput.value)"
            #facebookInput
          />
          <img
            class="social-logo"
            src="../../../../../../../assets/main-module/profile/facebook.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="instagram">Instagram</label>
      <div>
        <div class="input-field__input">
          <input
            id="instagram"
            type="text"
            placeholder="Enter your Instagram username"
            formControlName="instagram"
            (change)="editLink('instagram', instaInput.value)"
            #instaInput
          />
          <img
            class="social-logo"
            src="../../../../../../../assets/main-module/profile/insta.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="youtube">Youtube</label>
      <div>
        <div class="input-field__input">
          <input
            id="youtube"
            type="text"
            placeholder="Enter your Youtube username"
            formControlName="youtube"
            (change)="editLink('youtube', youtubeInput.value)"
            #youtubeInput
          />
          <img
            class="social-logo"
            src="../../../../../../../assets/main-module/profile/youtube.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="input-field">
      <label for="tiktok">TikTok</label>
      <div>
        <div class="input-field__input">
          <input
            id="tiktok"
            type="text"
            placeholder="Enter your Tiktok username"
            formControlName="tiktok"
            (change)="editLink('tiktok', tiktokInput.value)"
            #tiktokInput
          />
          <img
            class="social-logo"
            src="../../../../../../../assets/main-module/profile/tiktok.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <button type="submit" (click)="editAllInfo()">Save</button>
  </form>
</div>
