@use "~../../../../../../../../../styles/helpers/helpers-dir" as *;
@use "~../../../../../../../../../styles/components/forms";

.edit-info-container {
  // position: absolute;
  // z-index: $index-5;
  // width: 100%;
  // height: auto;
  min-height: 100%;
  // top: 0;
  // left: 0;
  background-color: $secondary;
  box-shadow: 0px 3px 6px #666666;
  padding: 1em;
  @include main-gradient;

  // @include respond-to(medium) {
  //   width: 102%;
  //   left: -1%;
  // }

  .back-btn {
    position: absolute;
    width: 2.5rem;
    padding: 0;
    background-color: transparent;

    @include respond-to(medium) {
      width: 3rem;
    }
  }

  h2 {
    color: $primary;
    text-align: center;
    font-size: $base-font-size * 1.5;
    @include margin(y, 0.4em);

    @include respond-to(medium) {
      font-size: $base-font-size * 2;
    }
  }

  form {
    margin: auto;
    @include padding(y, 3rem);
    @include flex;
    gap: 1.5rem;

    @include respond-to(medium) {
      width: 70%;
      max-width: 700px;
    }

    .name-field {
      width: 100%;
      @include flex(row);
      gap: 1em;

      .input-field {
        flex: 1;
        input {
          width: 100%;
        }
      }
    }

    .input-field {
      width: 100%;

      label {
        padding: 0.25em;
        display: block;
        font-size: $base-font-size;
        color: $primary;
        font-weight: 500;

        @include respond-to(medium) {
          font-size: $base-font-size * 1.3;
        }
      }

      div {
        @include flex(row);
        gap: 0.5em;

        .input-field__input {
          position: relative;
          flex: 1;

          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $secondary;
          }

          .seen-password-btn {
            position: absolute;
            width: 3rem;
            top: 50%;
            right: 0.5em;
            transform: translateY(-50%);
            padding: 0.75em;

            img {
              margin: auto;
              width: 100%;
            }
          }

          .social-logo {
            position: absolute;
            height: 100%;
            width: 15%;
            z-index: $index-5;
            max-width: 60px;
            right: 0;
            padding: 0.5em;
            border-left: 1.5px solid $primary;
          }
        }

        input,
        select {
          width: 100%;
          background-color: $secondary;
          color: $primary;
          font-size: $base-font-size;
          padding: 0.5em;
          border: 1.5px solid $primary;
          border-radius: 0.5em;

          @include respond-to(medium) {
            font-size: $base-font-size * 1.2;
          }

          &::placeholder {
            color: $primary;
            font-weight: normal;
            font-size: $base-font-size;
          }
        }

        input[type="date"] {
          &::-webkit-calendar-picker-indicator {
            background-image: url("../../../../../../../assets/auth-module/icons/calander.svg");
          }
        }

        select {
          background-image: url("../../../../../../../assets/auth-module/icons/arrow.svg");
          background-repeat: no-repeat;
          background-position: right 0.75em center;
        }

        button {
          background-color: transparent;
          min-width: 2rem;
          width: 2rem;
          padding: 0;

          @include respond-to(medium) {
            width: 3rem;
            min-width: 3rem;
          }
        }
      }
    }

    button[type="submit"] {
      margin: 1rem;
    }
  }
}
