@use "../helpers/helpers-dir" as *;
@use "../base/base-dir" as *;

[class$="-password-section"] {
  min-height: 100vh;
  width: 100vw;

  @include flex;
  @include gradient;

  @include respond-to(medium) {
    @include gradient(235deg);
  }

  .background-images {
    min-height: 100vh;
    width: 100vw;
    @include flex;

    background-image: url("../../assets/auth-module/images/Question-mark.svg");
    background-position: right -5em center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;

    @include respond-to(medium) {
      background-size: 30%;
    }

    color: $primary;
    font-weight: 500;

    @include flex;

    .container {
      width: 85%;

      @include respond-to(medium) {
        width: 50%;
      }
    }

    .illustration {
      align-self: flex-start;
      width: 30%;

      img {
        width: 100%;
      }

      @include respond-to(medium) {
        position: fixed;
        bottom: 0;
        width: 20%;
      }
    }
  }
}
