<div class="create-trip-page">
  <p class="title header">Create Trip</p>
  <div class="row">
    <button class="add-image">
      <img src="../../../../../../../assets/main-module/trips/img.svg" alt="" />
      <p>Upload Image</p>
    </button>

    <div class="form">
      <div class="form-field">
        <label for="">Country</label>
        <input type="hidden" #countryInput />
        <app-drop-down
          [label]="'Country'"
          [dropDownItems]="countries"
          (selectedValue)="setSelectedValue($event, countryInput)"
        ></app-drop-down>
      </div>

      <div class="form-field">
        <label for="">City</label>
        <input type="hidden" #cityInput />
        <app-drop-down
          [label]="'City'"
          [dropDownItems]="countries"
          (selectedValue)="setSelectedValue($event, cityInput)"
        ></app-drop-down>
      </div>

      <div class="form-field">
        <label for="">Transportation</label>
        <input type="hidden" #transportationInput />
        <app-drop-down
          [label]="'Transportation'"
          [dropDownItems]="countries"
          (selectedValue)="setSelectedValue($event, transportationInput)"
        ></app-drop-down>
      </div>

      <div class="form-field price">
        <label for="price-input">Price</label>

        <div class="price-input-field">
          <input id="price-input" type="text" #priceInput />
          <div class="currency-drop-down">
            <app-drop-down
              [label]="'currency'"
              [selected]="'USD'"
              [dropDownItems]="[]"
              (selectedValue)="setSelectedValue($event, priceInput)"
            ></app-drop-down>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label for="days-input">Trip Days</label>
        <input id="days-input" value="1" type="number" #days (change)="changeNumberOfDays(+days.value)"/>
      </div>

      <div class="form-field">
        <label for="description-input">Description</label>
        <textarea id="description-input"></textarea>
      </div>

      <p class="title">Days</p>

      <div class="day-field" *ngFor="let day of [].constructor(numberOfDays); let i = index">
        <div class="day-header">
          <p>Day {{ i + 1 }}</p>
          <button
            #openBtn
            (click)="openDayField(openBtn, dayContent)"
          >
            <img
              src="../../../../../../../assets/main-module/trips/arrow-down.svg"
              alt=""
            />
          </button>
        </div>

        <div #dayContent class="day-content">
          <div class="form-field">
            <label for="place-input">Place</label>
            <input id="place-input" type="text" />
          </div>

          <div class="form-field">
            <label for="price-input">Price</label>

            <div class="price-input-field">
              <input id="price-input" type="text" #priceInput />
              <div class="currency-drop-down">
                <app-drop-down
                  [label]="'currency'"
                  [selected]="'USD'"
                  [dropDownItems]="[]"
                  (selectedValue)="setSelectedValue($event, priceInput)"
                ></app-drop-down>
              </div>
            </div>
          </div>

          <div class="form-field">
            <label for="description-input">Description</label>
            <textarea id="description-input"></textarea>
          </div>
        </div>
      </div>

      <button type="submit">Create</button>
    </div>
  </div>
</div>
