<section class="forget-password-section">
  <div class="background-images">
    <div class="container">
      <h1 class="forget-password-section__title">Reset password</h1>
      <p class="forget-password-section__desc">Enter a New Password.</p>
    </div>
    <form class="forget-password-section__form"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()">
      <div class="password-component">
          <div class="info">
            <img src="../../../assets/icons/info.svg" alt="" />
            <p class="message">Must have at least 8 characters</p>
          </div>

          <div class="password-input-field">
            <input
              class="password-input"
              id="password"
              [type]="passwordType ? 'text' : 'password'"
              formControlName="password"
              [ngClass]="{
                'input-touched': password?.dirty || password?.touched
              }"
            />
            <label
              class="floating-label"
              for="password"
              [ngClass]="{
                'label-touched': password?.dirty || password?.touched
              }"
              >Password</label
            >
          </div>

          <button class="seen" (click)="togglePasswordType()">
            <img [src]="passwordIconPath" alt="" />
          </button>
        </div>

        <div class="password-component">
          <div class="info">
            <img src="../../../assets/icons/info.svg" alt="" />
            <p class="message">Must have at least 8 characters</p>
          </div>

          <div class="password-input-field">
            <input
              class="password-input"
              id="confirm-password"
              [type]="confirmPasswordType ? 'text' : 'password'"
              formControlName="confirmPassword"
              [ngClass]="{
                'input-touched':
                  confirmPassword?.dirty || confirmPassword?.touched
              }"
            />
            <label
              class="floating-label"
              for="confirm-password"
              [ngClass]="{
                'label-touched':
                  confirmPassword?.dirty || confirmPassword?.touched
              }"
              >Confirm Password</label
            >
          </div>

          <button class="seen" (click)="toggleConfirmPasswordType()">
            <img [src]="confirmpasswordIconPath" alt="" />
          </button>
        </div>
      <button type="submit" routerLink="/resend-link">Reset</button>
    </form>
    <div class="illustration">
      <img src="../../../assets/images/Lock.svg" alt="" />
    </div>
  </div>
</section>
