<section class="images-section">
  <div
    class="no-images-section"
    *ngIf="images.length === 0 && showSpinner === false; else imagesSeciton"
  >
    <h2>No images yet</h2>
    <img
      src="../../../../../../../assets/main-module/profile/man-no-images.svg"
      alt=""
    />
  </div>

  <app-loading-spinner
    [show]="showSpinner"
    [overlay]="'component'"
  ></app-loading-spinner>

  <ng-template #imagesSeciton>
    <div class="images" >
      <div class="image profile-image" *ngFor="let image of images">
        <img
          [src]="image"
          alt=""
        />
        <a class="post-link" target="_blank" href="https://www.google.com"
          >See Post</a
        >
      </div>
    </div>
  </ng-template>
</section>
