<ul>
  <li>
    <button aria-label="search">
      <svg>
        <use href="../../../../../assets/main-module/navbar/search.svg/#search-icon"></use>
      </svg>
    </button>
  </li>
  <li>
    <button aria-label="notifications">
      <svg>
        <use href="../../../../../assets/main-module/navbar/notification.svg/#notification-icon"></use>
      </svg>
    </button>
  </li>
  <li>
    <a
      [routerLink]="['./profile', username]"
      routerLinkActive="active"
      aria-label="profile"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/profile.svg/#profile-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      routerLink="./home"
      routerLinkActive="active"
      aria-label="home"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/home.svg/#home-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      routerLink="./trip"
      routerLinkActive="active"
      aria-label="trip"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/trip.svg/#trip-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      routerLink="./settings"
      routerLinkActive="active"
      aria-label="settings"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/settings.svg/#settings-icon"></use>
      </svg>
    </a>
  </li>
  <li class="logout">
    <button aria-label="logout" (click)="logout()">
      <svg>
        <use href="../../../../../assets/main-module/navbar/logout.svg/#logout-icon"></use>
      </svg>
    </button>
  </li>
</ul>