<header class="profile-header">
  <div class="profile-cover" id="profile-cover">
    <div class="clip-path">
      <img [src]="cover.value" alt="cover" class="cover-image" />
      <label
        for="change-cover-input"
        class="change-cover-btn"
        *ngIf="isMyProfile"
      >
        <img
          src="../../../../../../../assets/main-module/profile/change-cover.svg"
          alt="change cover"
        />
      </label>
      <input *ngIf="isMyProfile" type="file" id="change-cover-input" hidden (change)="changeCover($event)" />
    </div>
  </div>

  <div class="profile-info-card" id="profile-info-card">
    <div class="personal-image">
      <img [src]="avatar.value" alt="personal-image" />
    </div>

    <div class="edit-info" *ngIf="isMyProfile; else follow">
      <button class="edit-btn">
        <img
          src="../../../../../../../assets/main-module/profile/edit.svg"
          alt="edit info"
        />
      </button>
    </div>
    <ng-template #follow>
      <button class="follow-btn" (click)="followOrUnfollow()">
        {{ following.value ? "Following" : "Follow" }}
      </button>
    </ng-template>

    <div class="name-field">
      <p class="name" aria-label="name">
        {{ userInfo.firstName + " " + userInfo.lastName }}
      </p>
      <p class="username" aria-label="username">{{ urlUserName }}</p>
    </div>

    <ul aria-label="user info" class="personal-info">
      <li aria-label="number of posts">
        <img
          src="../../../../../../../assets/main-module/profile/posts.svg"
          alt=""
        />
        <p>
          <span>{{ userInfo.numberOfPosts }}</span> Posts
        </p>
      </li>
      <li aria-label="number of followers">
        <img
          src="../../../../../../../assets/main-module/profile/followers.svg"
          alt=""
        />
        <p>
          <span>{{ 0 }}</span> Followers
        </p>
      </li>
      <li aria-label="user from">
        <img
          src="../../../../../../../assets/main-module/profile/location.svg"
          alt=""
        />
        <p>From {{ userInfo.country }}</p>
      </li>
      <li aria-label="user lives in" *ngIf="userInfo.livesIn">
        <img
          src="../../../../../../../assets/main-module/profile/lives-in.svg"
          alt=""
        />
        <p>Lives in {{ userInfo.livesIn }}</p>
      </li>
      <li>
        <button (click)="deleteCover()">delete cover</button>
      </li>
      <li>
        <input type="file" (change)="changeAvatar($event)">
      </li>
      <li>
        <button (click)="deleteAvatar()">delete avatar</button>
      </li>
    </ul>

    <!-- <ul
      aria-label="user social media links"
      class="social-media-links"
      *ngIf="user.userInfo.socialLinks"
    >
      <li *ngFor="let socialLink of user.userInfo.socialLinks">
        <a [href]="socialLink.link" target="_blank">
          <img [src]="socialLink.icon" [alt]="socialLink.label" />
        </a>
      </li>
    </ul> -->
  </div>
</header>
