<app-error-message
  [show]="showToast"
  [status]="toastStatus"
  [message]="toastMessage"
></app-error-message>

<header class="profile-header">
  <div class="profile-cover" id="profile-cover">
    <div class="clip-path">
      <img
        [src]="userInfo.cover"
        alt="cover"
        class="cover-image"
        (click)="onCoverClick(coverOptions, coverPreview)"
      />
      <input
        *ngIf="isMyProfile.value"
        type="file"
        id="change-cover-input"
        hidden
        (change)="changeCover($event, coverOptions)"
      />
    </div>
  </div>

  <div class="profile-info-card" id="profile-info-card">
    <div class="personal-image">
      <img
        [src]="userInfo.avatar"
        alt="personal-image"
        #avatarImg
        (click)="onAvatarClick(avatarOptions, avatarPreview)"
      />
      <input
        *ngIf="isMyProfile.value"
        type="file"
        id="change-avatar-input"
        hidden
        (change)="changeAvatar($event, avatarOptions)"
      />
    </div>

    <div class="edit-info" *ngIf="isMyProfile.value; else follow">
      <button class="edit-btn" (click)="showEditInfo()">
        <img
          src="../../../../../../../assets/main-module/profile/edit.svg"
          alt="edit info"
        />
      </button>
    </div>
    <ng-template #follow>
      <button class="follow-btn" (click)="followOrUnfollow()">
        {{ isFollowing.value ? "Following" : "Follow" }}
      </button>
    </ng-template>

    <div class="name-field">
      <p class="name" aria-label="name">
        {{ userInfo.firstName + " " + userInfo.lastName }}
      </p>
      <p class="username" aria-label="username">{{ urlUserName }}</p>
    </div>

    <ul aria-label="user info" class="personal-info">
      <li aria-label="number of posts">
        <img
          src="../../../../../../../assets/main-module/profile/posts.svg"
          alt=""
        />
        <p>
          <span>{{ userInfo.numberOfPosts? userInfo.numberOfPosts: 0 }}</span> Posts
        </p>
      </li>
      <li aria-label="number of followers">
        <img
          src="../../../../../../../assets/main-module/profile/followers.svg"
          alt=""
        />
        <p>
          <span>{{ userInfo.numberOfFollowers }}</span> Followers
        </p>
      </li>
      <li aria-label="user from">
        <img
          src="../../../../../../../assets/main-module/profile/location.svg"
          alt=""
        />
        <p>From {{ userInfo.country }}</p>
      </li>
      <li aria-label="user lives in" *ngIf="userInfo.liveIn">
        <img
          src="../../../../../../../assets/main-module/profile/lives-in.svg"
          alt=""
        />
        <p>Lives in {{ userInfo.liveIn }}</p>
      </li>
    </ul>

    <ul
      aria-label="user social media links"
      class="social-media-links"
      *ngIf="userInfo.socialMedia"
    >
      <li *ngFor="let socialLink of userInfo.socialMedia">
        <a [href]="socialLink.link" target="_blank">
          <img
            [src]="socialIcons[socialLink.label]"
            [alt]="socialLink.label + 'link'"
          />
        </a>
      </li>
    </ul>
  </div>
</header>

<!-- pop-ups -->
<div id="cover-options-popup" class="overlay-wrapper" #coverOptions>
  <section class="pop-up cover-options">
    <button (click)="closePopup(coverOptions)" class="close-btn">
      <img src="../../../assets/main-module/Close.svg" alt="" />
    </button>
    <div class="options">
      <label class="options__btn" for="change-cover-input"
        >Change profile cover</label
      >
      <button
        class="options__btn"
        (click)="viewPicture(coverPreview, coverOptions)"
        [disabled]="userInfo.cover === defaultCoverImage"
      >
        View profile cover
      </button>
      <button
        class="options__btn"
        (click)="deleteCover(coverOptions)"
        [disabled]="userInfo.cover === defaultCoverImage"
      >
        Delete profile cover
      </button>
    </div>
  </section>
</div>

<div id="avatar-options-popup" class="overlay-wrapper" #avatarOptions>
  <section class="pop-up avatar-options">
    <button (click)="closePopup(avatarOptions)" class="close-btn">
      <img src="../../../assets/main-module/Close.svg" alt="" />
    </button>
    <div class="options">
      <label class="options__btn" for="change-avatar-input"
        >Change profile picture</label
      >
      <button
        class="options__btn"
        (click)="viewPicture(avatarPreview, avatarOptions)"
        [disabled]="userInfo.avatar === defaultPersonalImage"
      >
        View profile picture
      </button>
      <button
        class="options__btn"
        (click)="deleteAvatar(avatarOptions)"
        [disabled]="userInfo.avatar === defaultPersonalImage"
      >
        Delete profile picture
      </button>
    </div>
  </section>
</div>

<div class="overlay-wrapper" #coverPreview>
  <div class="img-popup">
    <button (click)="closePopup(coverPreview)" class="close-btn">
      <img src="../../../assets/main-module/Close.svg" alt="" />
    </button>
    <div class="img-preview">
      <img [src]="userInfo.cover" alt="cover" />
    </div>
  </div>
</div>

<div class="overlay-wrapper" #avatarPreview>
  <div class="img-popup">
    <button (click)="closePopup(avatarPreview)" class="close-btn">
      <img src="../../../assets/main-module/Close.svg" alt="" />
    </button>
    <div class="img-preview">
      <img [src]="userInfo.avatar" alt="avatar" />
    </div>
  </div>
</div>
