<section class="resend-password-section">
  <div class="background-images">
    <div class="container">
      <img src="../../../../../assets/images/Done.svg" alt="" />
      <p class="resend-password-section__desc">
        We sent a link to your email address. Check your email to reset your
        password. If you want to send a new link , click
        <a routerLink="/forget-password">Resend</a>
      </p>
    </div>

    <div class="illustration">
      <img src="../../../../../assets/images/Lock.svg" alt="" />
    </div>
  </div>
</section>
