<!-- app layout in desktop version -->
<ng-container *ngIf="screenWidth >= 800; else mobileLayout">
  <div class="desktop-container">
    <nav class="desktop-navbar"><app-desktop-navbar></app-desktop-navbar></nav>
    <main class="desktop-main"><router-outlet></router-outlet></main>
  </div>
</ng-container>

<!-- app layout in mobile version -->
<ng-template #mobileLayout>
  <div class="mobile-container">
    <header class="mobile-header"><app-mobile-header></app-mobile-header></header>
    <main class="mobile-main"><router-outlet></router-outlet></main>
    <nav class="mobile-navbar"><app-mobile-navbar></app-mobile-navbar></nav>
  </div>
</ng-template>
