<app-toaster
  [show]="showToaster"
  [status]="toasterType"
  [message]="toasterMessage"
></app-toaster>
<app-loading-spinner [show]="creatingPost"></app-loading-spinner>

<!-- app layout in desktop version -->
<ng-container *ngIf="screenWidth >= 800; else mobileLayout">
  <div class="desktop-container">
    <nav class="desktop-navbar"><app-desktop-navbar></app-desktop-navbar></nav>
    <main class="desktop-main">
      <router-outlet></router-outlet>
      <button
        (click)="openPopup(addPostPopup)"
        class="add-post-btn"
        aria-label="add post"
      >
        <svg>
          <use xlink:href="#add-post-icon"></use>
        </svg>
      </button>
    </main>
  </div>
</ng-container>

<!-- app layout in mobile version -->
<ng-template #mobileLayout>
  <div class="mobile-container">
    <header class="mobile-header">
      <app-mobile-header></app-mobile-header>
    </header>
    <main class="mobile-main">
      <router-outlet></router-outlet>
      <button
        (click)="openPopup(addPostPopup)"
        class="add-post-btn"
        aria-label="add post"
      >
        <svg>
          <use xlink:href="#add-post-icon"></use>
        </svg>
      </button>
    </main>
    <nav class="mobile-navbar"><app-mobile-navbar></app-mobile-navbar></nav>
  </div>
</ng-template>

<!-- TODO: make it a component -->
<div id="add-post-popup" class="overlay-wrapper" #addPostPopup>
  <form class="pop-up add-post" [formGroup]="postDataForm">
    <button (click)="closePopup(addPostPopup)" class="close-btn">
      <img src="../../../assets/main-module/Close.svg" alt="" />
    </button>

    <div class="user-info">
      <div class="user-avatar">
        <img [src]="myInfo.avatar" alt="" />
      </div>
      <p>{{ myInfo.firstName }} {{ myInfo.lastName }}</p>
    </div>

    <textarea
      id="post-text"
      placeholder="add text..."
      formControlName="text"
      #postText
    ></textarea>

    <div class="media-images" *ngIf="images">
      <img *ngFor="let image of images" [src]="image" alt="" />
    </div>

    <div class="media-video" *ngIf="video">
      <video
        [src]="video"
      ></video>
    </div>

    <div class="add-media">
      <!-- <button (click)="addMention()">
        <img
          src="../../../assets/main-module/add-mention.svg"
          alt="add mention"
        />
      </button> -->

      <label
        for="add-video-input"
        [ngClass]="{ disabled: video || images.length }"
      >
        <img src="../../../assets/main-module/add-video.svg" alt="add video" />
      </label>
      <input
        type="file"
        #videoFile
        id="add-video-input"
        formControlName="video"
        hidden
        (change)="addVideos($event)"
      />

      <label for="add-image-input" [ngClass]="{ disabled: video }">
        <img src="../../../assets/main-module/add-image.svg" alt="add image" />
      </label>
      <input
        type="file"
        #imagesFiles
        id="add-image-input"
        hidden
        multiple
        formControlName="images"
        (change)="addImages($event)"
      />
    </div>

    <button (click)="createPost(postText, addPostPopup)" class="post-btn">
      Post
    </button>
  </form>
</div>

<!-- svg icon -->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="add-post-icon" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none" />
    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="currentColor" />
  </symbol>
</svg>
