@use "~../../../../../styles/helpers/helpers-dir" as *;
@use "~../../../../../styles/components/overlay-pop-up" as *;

// global variables
$desktop-navbar-width: 3.5rem;
$mobile-header-height: 3rem;
$mobile-navbar-height: 3.5rem;

.desktop-container {
  background-color: $bg-color;
  min-height: 100vh;

  .desktop-navbar {
    position: fixed;
    width: $desktop-navbar-width;
    top: 0;
    bottom: 0;
    background-color: $secondary;
    @include main-gradient;
  }

  .desktop-main {
    $main-width: min(1200px, 80vw);
    width: $main-width;
    margin-left: calc(($desktop-navbar-width + 100vw - $main-width) / 2);
    // padding-bottom: 2em;
  }
}

.mobile-container {
  background-color: $bg-color;
  min-height: 100vh;

  .mobile-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: $mobile-header-height;

    background-color: #c6c5d999;
    backdrop-filter: blur(38px);
  }

  .mobile-main {
    margin: auto;
    margin-top: $mobile-header-height;
    padding-bottom: 5em;
  }

  .mobile-navbar {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    right: 0;
    height: $mobile-navbar-height;

    border-top: 1.5px solid $primary;
    background-color: $secondary;
    @include main-gradient;
  }
}

main {
  .add-post-btn {
    position: fixed;
    z-index: $index-4;
    right: 1rem;
    bottom: 6rem;
    background-color: $primary;
    padding: 0;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    @include animation;
    border: 0.2rem solid transparent;

    &:hover {
      background-color: $secondary;
      border-color: $primary;
    }

    @include respond-to(medium) {
      bottom: 4rem;
      width: 3.5rem;
      height: 3.5rem;
    }

    svg {
      width: 130%;
      height: 100%;
      color: $secondary;
      @include animation;

      &:hover {
        color: $primary;
      }
    }
  }
}

.desktop-container {
  position: relative;
}

.mobile-container {
  position: relative;
}

section.add-post {
  &.pop-up {
    width: 50vw; ///
    max-width: 700px; ///
    min-height: 300px; ///
  }

  .user-info {
    @include flex(row, flex-start);
    padding: 1rem 1.5rem;

    @include respond-to(medium) {
      padding: 1rem 3rem;
    }

    img {
      width: 3rem;
      border: 2px solid $primary;
      border-radius: 1em;
    }

    p {
      color: $primary;
      font-weight: 500;
      font-size: $base-font-size * 1.2;
      margin-left: 1em;
    }
  }

  textarea {
    resize: vertical;
    width: calc(100% - 2 * 1.5rem);
    min-height: 100px;
    max-height: 300px;
    @include margin(x, 1.5rem);
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 1em;
    overflow: hidden;
    font-size: $base-font-size;
    color: $primary;

    @include respond-to(medium) {
      width: calc(100% - 2 * 3rem);
      @include margin(x, 3rem);
    }
  }

  .add-media {
    @include flex(row, flex-end);
    gap: 1rem;
    margin: 1rem 1.5rem;

    @include respond-to(medium) {
      margin: 1rem 3rem;
    }

    button {
      padding: 0;
    }

    button,
    label {
      background-color: transparent;
      cursor: pointer;

      img {
        width: 3rem;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .post-btn {
    background-color: $primary;
    font-size: $base-font-size * 1.5;
    color: $secondary;
    padding: 0.35em 1.5em;
    border-radius: 0.25em;
    font-weight: 500;
    margin: 1.5em auto;
    display: block;
    box-shadow: 0px 3px 9px #575d85ba;
  }

  .media-images,
  .media-video {
    @include flex(row, flex-start);
    gap: 1em;
    margin: 1rem 1.5rem;

    @include respond-to(medium) {
      margin: 1rem 3rem;
    }

    img,
    video {
      width: 15%;
    }
  }
}
