@use "~../../../../../styles/helpers/helpers-dir" as *;
@use "~../../../../../styles/components/add-post-popup";

// global variables
$desktop-navbar-width: 3.5rem;
$mobile-header-height: 3rem;
$mobile-navbar-height: 3.5rem;

.desktop-container {
  background-color: $bg-color;
  min-height: 100vh;

  .desktop-navbar {
    position: fixed;
    width: $desktop-navbar-width;
    top: 0;
    bottom: 0;
    background-color: $secondary;
    @include main-gradient;
  }

  .desktop-main {
    $main-width: min(1200px, 80vw);
    width: $main-width;
    margin-left: calc(($desktop-navbar-width + 100vw - $main-width) / 2);
    // padding-bottom: 2em;
  }
}

.mobile-container {
  background-color: $bg-color;
  min-height: 100vh;

  .mobile-header {
    position: fixed;
    z-index: $index-5;
    top: 0;
    left: 0;
    right: 0;
    height: $mobile-header-height;

    background-color: #c6c5d999;
    backdrop-filter: blur(38px);
  }

  .mobile-main {
    margin: auto;
    margin-top: $mobile-header-height;
    padding-bottom: 5em;
  }

  .mobile-navbar {
    position: fixed;
    z-index: $index-5;
    bottom: 0;
    left: 0;
    right: 0;
    height: $mobile-navbar-height;

    border-top: 1.5px solid $primary;
    background-color: $secondary;
    @include main-gradient;
  }
}

main {
  .add-post-btn {
    position: fixed;
    z-index: $index-4;
    right: 1rem;
    bottom: 6rem;
    background-color: $primary;
    padding: 0;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    @include animation;
    border: 0.2rem solid transparent;

    &:hover {
      background-color: $secondary;
      border-color: $primary;
    }

    @include respond-to(medium) {
      bottom: 4rem;
      width: 3.5rem;
      height: 3.5rem;
    }

    svg {
      width: 130%;
      height: 100%;
      color: $secondary;
      @include animation;

      &:hover {
        color: $primary;
      }
    }
  }
}

.desktop-container {
  position: relative;
}

.mobile-container {
  position: relative;
}

