@use "~../../../../../styles/helpers/helpers-dir" as *;

// global variables
$desktop-navbar-width: 3.5rem;
$mobile-header-height: 3rem;
$mobile-navbar-height: 3.5rem;

.desktop-container {
  background-color: $bg-color;
  min-height: 100vh;

  .desktop-navbar {
    position: fixed;
    width: $desktop-navbar-width;
    top: 0;
    bottom: 0;
    background-color: $secondary;
    @include main-gradient;
  }

  .desktop-main {
    $main-width: min(1200px, 80vw);
    width: $main-width;
    margin-left: calc(($desktop-navbar-width + 100vw - $main-width) / 2);
    padding-bottom: 2em;
  }
}

.mobile-container {
  background-color: $bg-color;
  min-height: 100vh;

  .mobile-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: $mobile-header-height;

    background-color: #c6c5d999;
    backdrop-filter: blur(38px);
  }

  .mobile-main {
    margin: auto;
    margin-top: $mobile-header-height;
    padding-bottom: 5em;
  }

  .mobile-navbar {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    right: 0;
    height: $mobile-navbar-height;

    border-top: 1.5px solid $primary;
    background-color: $secondary;
    @include main-gradient;
  }
}
