<div class="search-page">
  <div class="search-field">
    <input
      #searchInput
      type="text"
      placeholder="Search"
      (keyup)="onTyping(searchInput.value)"
    />
    <app-search-drop-down
      [label]="'search'"
      [selected]="'Users'"
      [dropDownItems]="['Users', 'Cities']"
      (selectedValue)="setSearchType($event)"
    ></app-search-drop-down>
    <label for="select-search-image" *ngIf="searchType === ' Cities '">
      <img src="../../../../../assets/main-module/search/camera.svg" alt="" />
    </label>

    <input
      type="file"
      name=""
      id="select-search-image"
      hidden
      (change)="searchByImage($event)"
    />
  </div>

  <div
    class="no-results"
    *ngIf="
      citySearchResults.length === 0 && userSearchResults.length === 0;
      else results
    "
  >
    <p>No results yet</p>
    <img src="../../../../../assets/main-module/search/search.svg" alt="" />
  </div>

  <ng-template #results>
    <div class="results">
      <ng-container *ngIf="searchType === ' Cities '; else searchUser">
        <div class="result" *ngFor="let result of citySearchResults">
          <a class="city-link" [routerLink]="['/app/city', result.cityId]">
            <div class="city-cover">
              <img
                [src]="
                  result.image || 'assets/main-module/profile/default-cover.svg'
                "
                alt=""
              />
            </div>
            <p>{{ result.city }}, {{ result.country }}</p>
          </a>
          <a
            *ngIf="false"
            class="map-link"
            [href]="
              'https://www.google.com/maps/search/?api=1&query=' +
              result.location.lat +
              ',' +
              result.location.lng
            "
            target="_blank"
          >
            <img
              src="../../../../../assets/main-module/city/location.svg"
              alt=""
          /></a>
        </div>
      </ng-container>

      <ng-template #searchUser>
        <a
          *ngFor="let user of userSearchResults"
          class="result user-link"
          [routerLink]="['/app/profile', user.username]"
        >
          <div class="avatar">
            <img
              [src]="
                user.avatar ||
                'assets/main-module/profile/default-personal-image.svg'
              "
              alt=""
            />
          </div>
          <div class="user-info">
            <p class="name">{{ user.name }}</p>
            <p class="username">@{{ user.username }}</p>
          </div>
        </a>
      </ng-template>
    </div>
  </ng-template>
</div>
