<ul>
  <li>
    <a
      [routerLink]="['./profile', username]"
      routerLinkActive="active"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/profile.svg/#profile-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      routerLink="./home"
      routerLinkActive="active"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/home.svg/#home-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      routerLink="./trip"
      routerLinkActive="active"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/trip.svg/#trip-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      routerLink="./settings"
      routerLinkActive="active"
    >
      <svg>
        <use href="../../../../../assets/main-module/navbar/settings.svg/#settings-icon"></use>
      </svg>
    </a>
  </li>
</ul>
