@use "~../../../../../../../styles/helpers/helpers-dir" as *;

.post {
  width: 80%;
  margin: auto;
  background-color: $neutral-lighter;
  border-radius: 1em;
  box-shadow: 0 1px 10px $secondary-lavender;

  @include respond-to(less-than-medium) {
    width: 100%;
    margin: 4rem auto;
  }

  .post-header {
    margin: 1em;
    padding-top: 1em;
    @include flex(row, space-between);
  }

  .post-options {
    button {
      background-color: transparent;
      padding: 0;
      height: 2rem;

      img {
        height: inherit;
      }
    }
  }

  .post-author {
    @include flex(row, flex-start);
    gap: 1em;

    &__avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 1em;
      border: 2px solid $primary;
    }

    &__info {
      color: $primary;

      .name {
        font-weight: 500;
        font-size: $base-font-size * 1.2;
        margin: 0;
      }

      .username {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  video {
    width: 100%;
  }

  .post-text {
    margin: 1em;
    color: $primary;
    font-size: $base-font-size * 1.2;
    line-height: 1.5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .post-reactions {
    margin: 1em;
    padding-bottom: 1em;
    @include flex(row, space-between, flex-start);

    div {
      .share-btn {
        &:hover {
          transform: scale(1.1);
        }
      }

      .like-btn,
      .share-btn {
        padding: 0;
        width: 2.5rem;
        height: 2.5rem;
        background-color: transparent;
        color: transparent;
        @include animation;

        svg,
        img {
          height: inherit;
          width: inherit;
        }

        &:hover {
          color: rgba($primary, 0.5);
        }

        &.liked {
          color: $primary;
        }
      }

      .number-of-likes-btn {
        background-color: transparent;
        display: block;
        user-select: none;
        color: $primary;
        font-size: $base-font-size;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
