@use "~../../../../../../../../../styles/helpers/helpers-dir" as *;
@use "~../../../../../../../../../styles/components/profile-sections";

.videos-section {
  position: relative;
  height: 100%;
  overflow: auto;
}

.no-videos-section {
  height: 100%;
  padding: 1em;
  color: $primary;

  h2 {
    margin: 1em auto;
    text-align: center;
    font-size: 2.2rem;
  }

  img {
    margin: 1em auto 2em;
    width: 90%;

    @include respond-to(medium) {
      width: 30%;
    }
  }
}

.videos {
  .video {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 3840 / 2160;
    
    @include respond-to(medium) {
      min-width: 270px;
      width: 45%;
    }
    
    video {
      background-color: $primary;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}