@use "~../../../../../../../../../styles/helpers/helpers-dir" as *;

.videos-section {
  height: 100%;
  overflow: auto;
}

.no-videos-section {
  height: 100%;
  padding: 1em;
  color: $primary;

  h2 {
    margin: 1em auto;
    text-align: center;
    font-size: 2.2rem;
  }

  img {
    margin: 1em auto 2em;
    width: 90%;

    @include respond-to(medium) {
      width: 30%;
    }
  }
}
