<ul>
  <li class="search-btn">
    <form>
      <button aria-label="search">
        <svg>
          <use href="../../../../../assets/main-module/navbar/search.svg/#search-icon"></use>
        </svg>
      </button>
      <input type="text" aria-label="search">
    </form>
  </li>
  <li class="notification-btn">
    <button aria-label="notifications">
      <svg>
        <use href="../../../../../assets/main-module/navbar/notification.svg/#notification-icon"></use>
      </svg>
    </button>
  </li>
</ul>
