@use "~../../../../../../../styles/helpers/helpers-dir" as *;

// global variables
$icon-size: 2.3em;

ul {
  list-style: none;
  height: 100%;
  padding: 0 1em;
  margin: 0;

  @include flex(row, space-between, center);
  gap: 2em;
  
  li {
    svg {
      cursor: pointer;
      width: $icon-size;
      height: $icon-size;
      color: transparent; // fill color

      @include animation;
    }
    
    // search and notification btn
    button {
      padding: 0;
      border: 0;
      background-color: transparent;
      @include flex;
    }
    
    &.search-field {
      flex: 1;
      max-width: 400px;

      form {
        position: relative;
        width: 100%;
  
        input {
          font-size: $base-font-size * 0.9;
          border: 0.1rem solid $primary;
          border-radius: 0.3em;
          padding: 0.4em;
          padding-left: 2em;
          color: $primary;
          width: 100%;
        }
  
        button {
          position: absolute;
          left: 0.4em;
          top: 50%;
          transform: translateY(-50%);
          
          svg {
            $icon-size: $icon-size * 0.8;
            width: $icon-size;
            height: $icon-size;
          }
        }
      }
    }
  }
}