<ul
  class="dropdown"
  >
  <li id="dropdown-label" class="dropdown__label" #labelText hidden>
    {{ label }}
  </li>
  
  <li
  role="button"
  aria-labelledby="dropdown-label"
  #dropDownSelected
  tabindex="0"
  id="dropdown__selected"
  (click)="toggleListVisibility(dropDownListContainer)"
  (keydown.enter)="toggleListVisibility(dropDownListContainer)"
  (keydown.space)="toggleListVisibility(dropDownListContainer)"
  (keydown.esc)="closeList(dropDownListContainer)"
  >
    {{ labelText.innerHTML }}
  </li>

  <li
    aria-expanded="false"
    role="list"
    class="dropdown__list-container"
    #dropDownListContainer
    (keydown.esc)="closeList(dropDownListContainer)"
  >
    <ul class="dropdown__list">
      <li
        class="dropdown__list-item"
        tabindex="0"
        #item
        id="option-{{ i }}"
        *ngFor="let item of dropDownItems; let i = index"
        (click)="
          setSelectedListItem($event, dropDownSelected, dropDownListContainer)
        "
        (keydown.enter)="
          setSelectedListItem($event, dropDownSelected, dropDownListContainer)
        "
        (keydown.arrowup)="focusPreviousListItem($event, i)"
        (keydown.arrowdown)="focusNextListItem($event, i)"
      >
        <img [src]="item.icon" alt="" />
        <span>{{ item.value }}</span>
      </li>
    </ul>
  </li>
</ul>
