<ul class="dropdown">
  <li id="dropdown-label" class="dropdown__label" #labelText hidden>
    {{ label }}
  </li>

  <li
    aria-labelledby="dropdown-label"
    tabindex="0"
    id="dropdown__selected"
    (click)="toggleListVisibility(dropDownListContainer)"
    (keydown.enter)="toggleListVisibility(dropDownListContainer)"
    (keydown.esc)="closeList(dropDownListContainer)"
  >
    <input
      type="text"
      [placeholder]="selected"
      role="button"
      autocomplete="lkjlkj"
      [(ngModel)]="filterInput"
      #inputSelected
      (ngModelChange)="openList(dropDownListContainer)"
      (ngModelChange)="updateSelectedValue()"
    />
  </li>

  <li
    aria-expanded="false"
    role="list"
    class="dropdown__list-container"
    #dropDownListContainer
    (keydown.esc)="closeList(dropDownListContainer)"
  >
    <ul class="dropdown__list">
      <li
        class="dropdown__list-item"
        tabindex="0"
        #item
        id="option-{{ i }}"
        *ngFor="let item of dropDownItems | filter: filterInput; let i = index"
        (click)="
          setSelectedListItem($event, inputSelected, dropDownListContainer)
        "
        (keydown.enter)="
          setSelectedListItem($event, inputSelected, dropDownListContainer)
        "
        (keydown.arrowup)="focusPreviousListItem($event, i)"
        (keydown.arrowdown)="focusNextListItem($event, i)"
      >{{ item }}</li>
    </ul>
  </li>
</ul>
