@use "../../../../../../../styles/helpers/helpers-dir" as *;

.trip-filter-container {
  height: calc(100vh - 6.5rem);
  position: relative;
  overflow: hidden;
  @include flex;
  
  @include respond-to(medium) {
    height: 100vh;
    border-radius: 1em;
    box-shadow: 0px 3px 6px #666666;
    background-color: $secondary;
    @include main-gradient;
  }
}

nav.trips-navbar {
  width: 90%;
  height: 90px;
  margin: 1em auto;

  @include flex(row);
  gap: 1em;
  flex-wrap: wrap;

  p {
    color: $primary;
    font-weight: 500;
    font-size: $base-font-size * 1.5;
    margin: 0;
  }

  .search-field {
    position: relative;

    input {
      font-size: $base-font-size;
      width: 200px;
      color: $primary;
      padding: 0.8rem;
      border: 1px solid $primary;
      border-radius: 1rem;
      background-color: $secondary;
      padding-left: 2.5rem;
    }

    &::before {
      content: url("../../../../../../../assets/main-module/trips/search.svg");
      position: absolute;
      left: 0.7rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  button.create-trip-btn {
    margin-left: auto;
    color: $secondary;
    background-color: $primary;
    padding: 1rem;
    font-size: $base-font-size;
    border-radius: 1rem;
    @include flex(row);
    gap: 0.5rem;

    img {
      width: 1rem;
    }
  }
}

.trips-container {
  height: calc(100% - 90px);
  overflow: auto;
  padding-bottom: 2.5rem;

  @include flex(column, stretch, stretch);
  gap: 1.5rem;
}