<div class="trip-filter-container">
  <nav class="trips-navbar">
    <p>Trips filter</p>
    <div class="drop-down">
      <app-drop-down
        [label]="'filter by'"
        [dropDownItems]="['Best Rated', 'Low Price', 'High Price']"
        (selectedValue)="selectFilter($event)"

      ></app-drop-down>
    </div>
    <div class="search-field">
      <input search-trips type="text" />
      <label for="search-trips" hidden>Search Trips</label>
    </div>
    <button class="create-trip-btn" routerLink="./create-trip">
      <img
        src="../../../../../../../assets/main-module/trips/plus.svg"
        alt=""
      /><span> Create Trip </span>
    </button>
  </nav>

  <div class="trips-container">
    <div
      class="trip-filter-empty"
      *ngIf="trips.length === 0; else tripsTemplate"
    >
      <img
        src="../../../../../../../assets/main-module/trips/Trip-filter.svg"
        alt=""
      />
    </div>

    <ng-template #tripsTemplate>
      <app-trip-card
        *ngFor="let trip of trips"
        [tripInfo]="trip"
      ></app-trip-card>
    </ng-template>
  </div>
</div>
