@use "../../../../styles/helpers/helpers-dir" as *;
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  font-family: "Courgette", cursive !important;
}

$align: 10vw;

nav {
  margin-bottom: 3rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    @include flex(row, space-between);
    gap: 1rem;

    @include respond-to(medium) {
      @include padding(x, $align);
    }

    li {
      font-size: $base-font-size * 1.2;
      @include respond-to(large) {
        font-size: $base-font-size * 1.4;
      }

      a {
        font-size: $base-font-size;
      }
    }

    li:nth-child(1) {
      color: $primary;
    }

    li:nth-child(2) {
      margin-left: auto;
      a {
        color: $primary;
      }
    }

    li:nth-child(3) {
      a {
        text-decoration: none;
        background-color: $primary;
        color: $neutral-lighter;
        padding: 0.5em 1em;
        border-radius: 0.5rem;
      }
    }
  }
}

.row + .row {
  @include margin(y, 5rem);
}

.row {
  h2 {
    color: $primary;
    font-weight: bold;
    font-size: $base-font-size * 2.8;
    text-align: center;
    @include respond-to(less-than-medium) {
      margin: 0.5em;
      font-size: $base-font-size * 2;
    }
  }

  p {
    color: $primary;
    font-size: $base-font-size * 1.7;
    text-align: center;
    @include respond-to(less-than-medium) {
      margin: 1em;
      font-size: $base-font-size * 1.2;
    }
  }
}

.row:nth-child(even) {
  width: 100%;
  overflow: hidden;

  .content {
    transform: translateX(-100vw);
    @include animation(0.7s);

    &.show {
      transform: translateX(0);
    }
  }

  .image {
    flex: 1;
    padding-left: 1rem;
    transform: translateX(100vw);
    @include animation(0.7s);

    &.show {
      transform: translateX(0);
    }
  }

  @include respond-to(medium) {
    @include flex(row);
    gap: 2rem;

    .content {
      flex: 0.9;
      margin-left: $align;
      transform: translateX(-60vw);

      h2,
      p {
        text-align: left;
      }
    }

    .image {
      transform: translateX(60vw);
    }
  }
}

.row:nth-child(odd) {
  width: 100%;
  overflow: hidden;

  .content {
    transform: translateX(100vw);
    @include animation(0.7s);

    &.show {
      transform: translateX(0);
    }
  }

  .image {
    flex: 1;
    padding-right: 1rem;
    transform: translateX(-100vw);
    @include animation(0.7s);

    &.show {
      transform: translateX(0);
    }
  }

  @include respond-to(medium) {
    @include flex(row-reverse);
    gap: 2rem;

    .content {
      flex: 0.9;
      margin-right: $align;
      transform: translateX(60vw);

      h2,
      p {
        text-align: right;
      }
    }

    .image {
      transform: translateX(-60vw);
    }
  }
}
