<section class="about-us-page">
  <nav>
    <ul>
      <li><img src="../../../../assets/logo.svg" alt=""></li>
      <li><a routerLink="/auth/login">Log In</a></li>
      <li><a routerLink="/auth/sign-up">Sign Up</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="content">
      <h2>Explore beauty of world</h2>
      <p>Post and share images and videos of your travel experience.</p>
    </div>
    <div class="image">
      <img src="../../../../assets/about-us/cloud1.png" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="content">
      <h2>Discover the appraciated hotel</h2>
      <p>
        We will save your time and find for you a group of suitable hotels that
        you can book remotely.
      </p>
    </div>
    <div class="image">
      <img src="../../../../assets/about-us/cloud2.png" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="content">
      <h2>We will take care of your trip</h2>
      <p>
        We are trying to discover to you the best trips with many reviews and
        you can also add a review about your trip.
      </p>
    </div>
    <div class="image">
      <img src="../../../../assets/about-us/cloud3.png" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="content">
      <h2>Search to discover best places</h2>
      <p>
        To make it easy for you, we put a "search by image" feature to find the
        place and city of the image.
      </p>
    </div>
    <div class="image">
      <img src="../../../../assets/about-us/cloud4.png" alt="" />
    </div>
  </div>
</section>
