@use "../../helpers/helpers-dir" as *;
@use "../../base/base-dir" as *;

[class$="-manual-section"] {
  min-height: calc(100vh - 50vw); /* view height - height of social section */
  background-image: url("../../../assets/images/World.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 125vw;
  background-position-x: -5vw;
  background-position-y: 60vw;

  .login-manual-section__form,
  .sign-up-manual-section__form {
    margin-top: 50vw; /* height of social section */
    @include padding(x, 8vw);

    [class$="-manual-section__form__title"] {
      font-size: $base-font-size * 2;
      text-align: center;
      color: $primary;
      margin-bottom: 1.3em;
    }
  }

  input,
  select {
    margin-bottom: 3em;
  }

  .name {
    @include flex(row, space-between);
    gap: 1em;
  }

  .fn-input,
  .ln-input,
  .username-input {
    background-image: url("../../../assets/icons/User\ icon.svg");
  }

  .email-input {
    background-image: url("../../../assets/icons/email.svg");
  }

  .password-input {
    background-image: url("../../../assets/icons/password.svg");
  }

  .country-input-field {
    select {
      background-image: url("../../../assets/icons/country.svg");
    }
  }

  .gender-input-field {
    select {
      background-image: url("../../../assets/icons/gender.svg");
    }
  }

  button[type="submit"] {
    margin-bottom: 1em;
    box-shadow: 0 3px 6px $primary;
  }

  .switch {
    padding: 1em 1em 2em;
    text-align: center;
    color: $primary;
    font-size: $base-font-size;
    font-weight: 500;

    a {
      color: $primary;
    }
  }
}
