@use "../../helpers/helpers-dir" as *;

/* date of birth input field styles */
.dob-input-field {
  position: relative;

  input {
    background-image: url("../../../assets/auth-module/icons/calander.svg");
    padding-left: 3em;
    color: transparent !important;
    background-color: $neutral-lighter;
    // background-size: 1rem;

    &::after {
      content: '';
      width: 0.5em;
      height: 0.5em;
      background-color: $neutral-lighter;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 6px;
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      display: block;
      background: url("../../../assets/auth-module/icons/calander.svg") no-repeat !important;
      width: 20px;
      height: 20px;
      -moz-appearance: unset;
      -webkit-appearance: unset;
      appearance: unset;
    }

    &:focus,
    &.input-touched {
      &::-webkit-calendar-picker-indicator {
        opacity: 1;
      }
      color: $primary !important;
    }
  }
}
