@use "../../helpers/helpers-dir" as *;

$label-position-top: -0.8em;
$label-position-left: 0;

[class$="-input-field"] {
  position: relative;

  input,
  select {
    display: block;

    width: 100%;
    height: 3.2rem;
    padding: 0.6em;

    box-shadow: 0 3px 6px $primary;
    border: solid 2px $primary;
    border-radius: 10px;

    &.invalid {
      box-shadow: 0 2px 4px $invalid;
      border: solid 2px $invalid;
    }

    font-size: $base-font-size * 0.9;
    @include respond-to(medium) {
      font-size: $base-font-size;
    }

    font-weight: 500;
    color: $primary;

    &.invalid {
      color: $invalid;
    }

    /* for icons */
    background-position-y: center;
    background-position-x: 0.5em;
    background-repeat: no-repeat;
    background-size: 1.4rem;

    @include animation;

    &:focus {
      outline: none;
      background-image: none !important;
      padding-left: 1em;
    }

    &:focus + .floating-label {
      top: $label-position-top;
      left: $label-position-left;
      font-size: $base-font-size * 0.75;
      @include respond-to(medium) {
        font-size: $base-font-size * 0.85;
      }
    }

    &.input-touched {
      background-image: none !important;
      padding-left: 1em !important;
    }
  }

  .floating-label {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.3em;

    @include respond-to(medium) {
      left: 1.5em;
    }

    padding: 0.2em 0.2em 0.2em 0.65em;

    color: $primary;
    &.invalid {
      color: $invalid;
    }

    font-size: $base-font-size * 0.9;
    @include respond-to(medium) {
      font-size: $base-font-size;
    }
    font-weight: 500;

    @include animation;

    &.label-touched {
      top: $label-position-top !important;
      left: $label-position-left !important;
      font-size: $base-font-size * 0.75 !important;
      @include respond-to(medium) {
        font-size: $base-font-size * 0.85 !important;
      }
    }
  }
}

.invalid-message {
  position: absolute;
  color: $invalid;
  font-weight: 500;
  left: 0;
  top: 2.8em;
  padding: 0 10px;
}