@use "../../helpers/helpers-dir" as *;

.password-component {
  position: relative;
  min-width: fit-content;
  width: 100%;

  .info {
    position: relative;
    cursor: pointer;

    &:hover .message {
      visibility: visible;
    }

    .message {
      visibility: hidden;
      position: absolute;
      right: 2.5em;
      top: -3.5em;
      padding: 0.25em 0.5em;
      width: max-content;
      background-color: $primary;
      color: $neutral-lighter;

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        right: -10px;
        top: 5px;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $primary;
      }
    }

    img {
      position: absolute;
      right: 0.2em;
      top: -1.8em;
      width: 1.5rem;
    }
  }

  .seen {
    position: absolute;
    right: 0.6em;
    top: 50%;
    transform: translateY(-50%);

    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;

    outline: none;

    img {
      width: 1.4rem;
    }
  }
}
