@use "../../helpers/helpers-dir" as *;

.password-component {
  position: relative;
  min-width: fit-content;
  width: 100%;

  .seen {
    position: absolute;
    right: 0.6em;
    top: 50%;
    transform: translateY(-50%);

    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;

    outline: none;

    img {
      width: 1.4rem;
    }
  }
}
