@use "../../helpers/helpers-dir" as *;

[class$="-social-section"] {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;

  @include flex(row, space-between, stretch);

  @include respond-to(medium) {
    width: 50vw;
    height: 100vh;
    @include flex(column, flex-start, space-between);
    // position: static;

    &::before {
      display: none;
    }

    // [class$="-social-section__desc"] {
    //   // width: 100%;
    // }
  }

  /* white background */
  &::before {
    content: "";
    background-color: $neutral-lighter;
    position: fixed;
    width: 100vw;
    height: 45vw;
    z-index: -1;
    top: 0;
  }

  /* cloud content */
  [class$="-social-section__desc"] {
    background-image: url("../../../assets/images/clouds.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 0 right 0;

    $width-of-cloud: 65vw;
    width: $width-of-cloud;
    height: $width-of-cloud * 0.9;

    color: $primary;
    padding-top: 7vw;
    padding-left: 8vw;

    @include respond-to(medium) {
      $width-of-cloud: 50vw;
      width: $width-of-cloud;
      padding-top: 4vw;
    padding-left: 5vw;
    }

    h1 {
      font-size: 5vw;

      @include respond-to(medium) {
        font-size: 2.8rem;
      }
    }

    p {
      font-size: 3.8vw;
      padding-right: 20vw;

      @include respond-to(medium) {
        font-size: 1.6rem;
        // padding-right: 8em;
      }
    }
  }

  /* social form */
  [class$="-social-section__form"] {
    width: 40vw;
    padding-right: 8vw;
    @include margin(y, 3rem);

    @include respond-to(medium) {
      padding-right: 0;
    }

    @include flex;

    h2 {
      color: $primary;
      font-size: 5.5vw;
      text-align: center;

      @include respond-to(medium) {
        font-size: $base-font-size * 2;
      }
    }

    .logos {
      @include flex(row, center, center);
      gap: 1.5em;

      img {
        display: inline-block;
        width: 11.5vw;
        height: 11.5vw;
        padding: 2.5vw;
        border-radius: 50%;

        @include animation;

        &.facebook-logo {
          background-color: #4267b2;
        }

        &.google-logo {
          background-color: #c82323;
        }

        &:hover,
        &:focus {
          transform: translateY(-2px);
          opacity: 0.9;
        }

        @include respond-to(medium) {
          width: 4rem;
          height: 4rem;
          padding: 0.8em;
        }
      }
    }
  }
}
