<section class="posts-section">
  <div
    class="no-posts-section"
    [ngClass]="{
      'my-profile-no-posts': isMyProfile,
      'not-my-profile-no-posts': !isMyProfile
    }"
    *ngIf="posts.length === 0; else postsSeciton"
  >
    <h2>No posts yet</h2>
    <p *ngIf="isMyProfile">
      Press on plus <br />
      to add a new post
    </p>
  </div>
  <ng-template #postsSeciton>
    <ng-container *ngFor="let post of posts; let i = index">
      <app-post
        appIncreasePostViews
        [postId]="post.postData.postId"
        #lastElement
        *ngIf="i === posts.length - 6; else allPosts"
        [postData]="post.postData"
      ></app-post>
      <ng-template #allPosts>
        <app-post
          appIncreasePostViews
          [postId]="post.postData.postId"
          [postData]="post.postData"
        ></app-post>
      </ng-template>
    </ng-container>
  </ng-template>
</section>
