@use './typography' as *;
@use '../helpers/helpers-dir' as *;

:root {
  @include respond-to(large) {
    font-size: 17px;
  }

  @include respond-to(huge) {
    font-size: 20px;
  }

}

* {
  font-family: $font-family !important;
}

/* resets */

input {
  &:focus {
    outline: none;
  }
}

::selection {
  color: $primary;
  background-color: $gradient-dark; /* WebKit/Blink Browsers */
}
::-moz-selection {
 color: $primary;
  background-color: $gradient-dark; /* WebKit/Blink Browsers */
}

// option {
//   color: $primary;
//   padding: 1em;
//   margin: 1em;
//   background-color: $gradient-dark;
// }


// scroll bar
/* width */
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

body::-webkit-scrollbar {
  width: 12px;
}



/* Track */
::-webkit-scrollbar-track {
  background-color: $neutral-lighter;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color:  #e3cce9;
  background-image: linear-gradient(
    $gradient-darker 0%,
    $gradient-dark 26%,
    $gradient-light 45%,
    $gradient-dark 70%,
    $gradient-darker 100%
  );
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color:  $primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}