@use "../helpers/variables" as *;

@font-face {
  font-family: "David Libre";
  src: url("../../assets/fonts/DavidLibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "David Libre";
  src: url("../../assets/fonts/DavidLibre-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "David Libre";
  src: url("../../assets/fonts/DavidLibre-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$font-family: "David Libre", serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0;
}

p {
  line-height: $base-line-height;
}
